@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryGreen: #0E9547;
  --primary: #292663;
  --primaryBlue: #0022D4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-green: var(--primaryGreen);
  --font-sans: var(--font-montserrat);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
  --font-manrope: var(--font-manrope);



  --color-primary: var(--primary);
  --color-primary-blue: var(--primaryBlue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primaryGreen: #0E9547;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
