@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryGreen: #0e9547;
  --primary: #292663;
  --primaryBlue: #0022d4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-green: var(--primaryGreen);
  --font-sans: var(--font-montserrat);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
  --font-manrope: var(--font-manrope);

  --color-primary: var(--primary);
  --color-primary-blue: var(--primaryBlue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primaryGreen: #0e9547;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
  -webkit-text-fill-color: #5d6978 !important;
  caret-color: #5d6978;
  transition: background-color 5000s ease-in-out 0s;
}
